@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

#wrapper{

}
/* Begin header */
#header{
height: 100px;
background-color: #f3f3f3;
}

#header .jobscv{
    height: 20px;
}

.jobscv #nav{
    float: right;
display: inline-block;
list-style-type: none;
}

#nav li{
    display: inline-block;
}

#nav li a {
    text-decoration: none;
    box-sizing: border-box;
    padding: 5px 10px;
    color: #d34127;
    font-weight: 800;
}

#header .logo{
    height: 80px;
    background-image: url('/intern/Top_dev/asset/Image/img1.PNG') ;
    background-repeat: no-repeat;
}


/* End header */

/* begin liveshow*/
#show{
height: 400px;


}

#show .name{
    color: #d34127;
    font-weight: 800;
    box-sizing: border-box;
    padding-top: 35px;
    padding-left: 25px;
 
}
.hr{
    margin-right: 25px;
}

#show .name1{
    color: black;
    box-sizing: border-box;
    font-weight: 800;
    padding-top: 35px;
    padding-left: 25px;
    padding-bottom: 15px;
}

#show .jobhot{
height: 200px;
box-sizing: border-box;
margin-left: 25px;
margin-right: 25px;
background-color: #d34127;

}
.table{
    
    width: 100%;
    box-sizing: border-box;
    color: white;
    padding-top: 25px;
    padding-left: 25px;
    

}

.table .td1{
    height: 150px;
    width: 350px;
    
}

.button{
    background-color: #d34127;
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}

.btn{
    text-align: center;
}
.name2{
    box-sizing: border-box;
    padding-top: 35px;
    padding-left: 25px;
    font-weight: 900;
}





/* end liveshow */

/* begin content */
#content{
    height: 1050px;
    background-color: white;
}

.table1{
    width: 100%;
    text-align: left;
    background-color: #f3f3f3;
}

.table1 tbody{
   
}

.table1 tr td{
    color: #d34127;
    font-weight: 800;
    padding: 10px 25px;
    border: 0px;
    border-collapse: collapse;
    
}

.contenttable{
    width: 100%;
   
}

.contenttable .td2{
    width: 350px;
}

.contenttable tbody{
    background-color: white;
   
    
}
.contenttable tr td{
    box-sizing: border-box;
    /* padding-left: 35px; */
    font-size: 14px;
}


.contenttable .tbody1{
    margin-bottom: 20px;
}

.contenttable .font{
    font-size: 18px;
    color: rgb(107, 103, 103);
}

.contenttable .na1{
box-sizing: border-box;
padding-left: 35px;
}
 .contenttable .na2 {
    box-sizing: border-box;
    font-size: 16px;
    
}

.contenttable .na3{
    font-size: 18px;
    font-weight: 900;
}
.contenttable .hr2{
    box-sizing: border-box;
    margin-top: 15px;
       margin-bottom: 10px;
    
}

.contenttable .r1{
    box-sizing: border-box;
    margin-left: 35px;
}
.contenttable .r3{
    box-sizing: border-box;
    margin-right: 25px;
}

.btn-content{
    box-sizing: border-box;
    padding-left: 35px;
    padding-top: 35px;
}

.btn2
{
    height: 45px;
    width: 98%;
    background-color:#d34127 ;
    border: 0px;
    color: white;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
    
}

.hr3{
    padding-top: 45px;
    margin-left: 35px;
    margin-right: 25px;
}

.name3{
    box-sizing: border-box;
    padding: 20px 35px;
    font-weight: 700;
}

.table3{
    width: 100%;
    
}

.table3 .td3{
    width: 350px;
    color: #d34127 ;
    font-weight: 700;
}

.t1{
    box-sizing: border-box;
    padding-left: 35px;
}

/* end content */


/* begin footer */
#footer{
height: 200px;
background-color: #f3f3f3;
}

.fter{
    box-sizing: border-box;
    padding-left: 35px;
    
}
.a1{
    font-weight: 700;
    box-sizing: border-box;
    padding-top: 20px;
}

.a2 a{
   
    color: rgb(35, 155, 35);
}
/* end footer */
