
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0px;padding: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

#wrapepr{

}
/* begin header */
#header{
height: 45px;
background-color: black;
position: fixed;
top: 0;left: 0;right: 0;
z-index: 1;
}

#nav{
    display: inline-block;
}

#nav li a {
    
    position: relative;
}

#nav > li {
    display: inline-block;
    
    box-sizing: border-box;
    
}
#nav > li > a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 45px; 
    
}

#nav li:hover {
    background-color: silver;
}

.subnav{
    display: none;
    height: px;
    width: 150px;
    background-color: white;
    position: absolute;
    color: black;
    box-sizing: border-box;
   
}

.subnav li a{
    color: black;
    text-decoration: none;
    line-height: 45px;
    padding: 0 20px;
}

#nav .subnav{
    list-style-type: none;
    box-shadow: 0px 0px 5px black;
}

#nav li:hover .subnav{
   display: block;
}

#nav .nav-arrow-down{
    font-size: 12px;
}

#header .button{
    float: right;
    padding: 0 20px;
    
}

#header .button:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .btn{
    color: white;
    line-height: 46px;
    font-size: 22px;
    box-sizing: border-box;
   
}

/* end header */
/* begin slideshow */
#slideshow{
margin-top: 45px;
padding-top: 50%;
background: url('https://www.w3schools.com/w3images/la.jpg') top center / cover no-repeat;
position: relative;

}


#text-img{
    position: absolute;
    width: 100%;
    bottom: 47px;
    color: white;
    box-sizing: border-box;
    

}

#slideshow #text-heading{
text-align: center;
margin: 25px;
font-size: 24px;
font-weight: 500;
}

#slideshow #text-content{
    text-align: center;
    font-size: 15px;
    
}
/* end slideshow */


#content{

}

#footer{

}

