/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{

}

#header{
    height: 45px;
    background-color: black;
   
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    /* dòng này để cho chữ nằm giữa */
    line-height: 46px; 
    text-transform: uppercase;
}
#nav li:hover{
  
    background-color: silver;
}
#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    color: #000;
    box-shadow: 0 0 10px black ;
}

.subnav li{
    height: 46px;
    width: 150px;
   position: absolute;
   background-color: white;
  
}
.subnav li a{
    color: black;
    text-decoration: none;
    line-height: 46px;
    padding-left: 12px;
}


#slideshow{
  
}

#content{

}

#footer{

}
